a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none; 
}

h1 {font-size: 1.65em; }

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
  margin-top: 0px; 

}

p {
  line-height: 1.5em;
  margin-bottom: 0px; 

}

p:first-child {margin-top: 0px;}

p img {
  max-width: 100%;
  height: auto;

}

blockquote {
  line-height: 1.5em;
  margin: 15px 0px 0px;
  border-left: 3px solid;

}

ul {
  padding-left: 20px;
  margin: 15px 0px;
}

.ul-unstyled {
  margin: 0px;
  padding: 0px; 

}

.ul-unstyled li {list-style-type: none;}

.clear:before,
.clear:after {
  content: " ";
  display: table; 
}

.clear:after {clear: both; }
.clear {*zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  -webkit-font-smoothing: antialiased;

}

body {
  word-wrap: break-word;
  position: relative;
  font-family: "Open Sans";
  font-size: 100%;
  color: #364042;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow-x: hidden;

}

.sidebar, .content {font-size: 0.8em;}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 280px;
  padding: 40px;

  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.no-sidebar-title {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0px;
}

.sidebar:hover {overflow-y: auto;}

.sidebar-header {margin-bottom: 80px;}
.sidebar-block {margin-bottom: 40px;}
.sidebar-picture img {max-width: 200px;}
.sidebar-menu {font-weight: 600;}

.sidebar-menu ul {
  padding: 0px;
  margin: 0px; 

}

.sidebar-menu ul li {
  margin-top: 5px;
  list-style-type: none;

}

.sidebar-menu ul li:first-child {margin-top: 0px;}

.sidebar-social {
  font-family: "FontAwesome";
  font-size: 15px;

}

.sidebar-social a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  margin-left: 10px; 
  width: 15px;
  height: 15px;
  text-align: center;

}

.sidebar-social a:first-child {margin-left: 0px; }

.sidebar-social a:hover  {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  text-decoration: none !important; 

}

.sidebar-title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px 0px 20px; 

}

.sidebar-instagram {
  margin-right: -14px; /* fix a firefox scrollbar issue */
}

.instagram-picture {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  margin-bottom: 5px;

}

.content {
  position: relative;

  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; 

}

.content.loaded {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible; 

}

.post {       
  margin-bottom: 20px; 
  overflow: hidden; 

}

.post-title a {text-decoration: none;}

.post-section, .post-footer {padding: 15px;}

.post-footer .icon {margin-left: 10px;}

.post-footer a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=30);
  opacity: 0.3;
  text-decoration: none;
  font-size: 12px;
  position: relative;

}

.icon-effect:after{
  content: '';
  top: -7px;
  left: -7px;
  padding: 7px;
  opacity: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transform: scale(.6);
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  -moz-transform: scale(.6);
  -ms-transform: scale(.6);
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(.6);
  
}

.icon-effect:hover:after {

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

}

.icon-effect:active:after {

  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;

}

.post-footer .date {display: none;}

.post-footer a.note-count, 
.post-footer .date {font-size: 11px;}

.post-footer a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;

}
  
.post-footer .icon:first-child {margin-left: 0px;}

.post-link .post-header h1{
  margin-bottom: 0px;
  
}

.post-link .post-header h1 a{
  display: block;
  position: relative;
  padding: 15px 30px 15px 15px;

}

.post-link .post-header h1 a:hover {text-decoration: none;}

.post-link .post-header h1 a:before{
  content: '\F054';
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  font-size: 20px;
  opacity: 0.4;
}

.post-video .video {
  position: relative;
  padding-bottom: 56,25%;
  overflow: hidden;
  width: 100% !important;
  height: 0px !important;
}

.post-video .video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

}


.asker{font-style: italic; margin-bottom: 5px !important;}
.answer-container{padding-top: 0px;}
.answer-container p, .asker-container p{margin-top: 5px;}

.chat {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;

}

.chat li {padding: 10px;}


.like_button {
  position: absolute;
  top: -1px;
  left: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer !important;

}

.like_button.liked {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=false);
  opacity: 1 !important;

}

.like-link a {position: relative;}

.like-link a .like_button {
  top: -1px;
  left: -1px;
  cursor: pointer !important;

}

.postnotes{padding: 40px 0px; font-size: 13px;}
.postnotes .noteCounter {padding: 0px 40px;}
.postnotes h2{margin-bottom: 20px;font-size: 16px;}
.postnotes ol{list-style-type: none;padding-left: 0px;}
.postnotes ol li{
  margin: 0px; 
  padding: 5px 40px; 
  padding-right: 80px;
  position: relative;
  line-height: 23px;
  -moz-transition: background .2s ease;
  -o-transition: background .2s ease;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;

}

.postnotes ol li .avatar{margin-right: 10px; vertical-align: middle;}

.postnotes ol .reblog:before,
.postnotes ol .like:before{
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 40px;
  font-family: "FontAwesome";
  font-size: 13px;

  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;

}


.postnotes ol .reblog:before{content: '\F079';}
.postnotes ol .like:before{content: '\F004';}
.more_notes_link_container{
  margin-top: 40px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
  display: block;

}

.with_commentary blockquote {margin-left: 25px;}

.tagContainer{font-size: 13px;margin-top: -10px;}
.tagContainer .tags{list-style-type: none;padding-left: 0px;margin: 0px;}
.tagContainer .tags li{float: left;margin-left: 0px; margin-right: 25px;margin-top: 10px;}

.sidebar-toggle {
  position: fixed;
  top: 40px;
  left: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;

  -moz-transition: left .2s ease-out 0.09s, background-color 0.2s ease, -moz-transform .3s ease-in;
  -o-transition: left .2s ease-out 0.09s, background-color 0.2s ease, -o-transform .3s ease-in;
  -webkit-transition: left .2s ease-out 0.09s, background-color 0.2s ease, -webkit-transform .3s ease-in;
  transition: left .2s ease-out 0.09s, background-color 0.2s ease, transform .3s ease-in;

}

.sidebar-toggle.opened {
  left: 260px;
}

.sidebar.opened {
  left: 0px;
  opacity: 1;
}

#pagination {
  padding-bottom: 40px;
  margin-top: 40px;
  padding-right: 40px;
  font-size: 0.85em;

}

#infscr-loading{
  bottom: 0px;
  position: fixed;
  text-align: center;
  left: 50%;
  margin-left: -122px;
  width: 265px;
  padding: 20px;
  z-index: 999;
}

#infscr-loading img{
    display: none;
}













